* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #19191b;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #19191b;
  position: fixed;
}

.section {
  width: 100vw;
  height: 100vh;
  border: #ff0000 solid 3px;
}

#section-3 {
  display: none;
}

@media only screen and (max-width: 1279px) {
  #section-3 {
    display: block;
  }
}
